.root {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  mask-image: radial-gradient(
    ellipse 70% 70% at 50% 50%,
    #000 70%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 70% 70% at 50% 50%,
    #000 70%,
    transparent 100%
  );
  background-size: 16px 16px;

  @media (prefers-color-scheme: dark) {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    );
  }
}
