.root {
  background-color: var(--whitebg);

  @media (--dark) {
    background-color: #1a1a1a;
  }
}

.hero {
  position: relative;
  background-color: var(--background);

  height: 420px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  @media (--sm) {
    height: 450px;
  }

  @media (--lg) {
    height: 550px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  @media (--xl) {
    height: 600px;
  }

  @media (--2xl) {
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
  }

  @media (--3xl) {
    height: 700px;
  }
}

.profile {
  position: relative;
}

.image {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 9999px;
  border: 2px solid var(--whitebg);
  background-image: linear-gradient(to top right, #d9d9d9, #d1cccc);
  height: 8rem;
  width: 8rem;

  @media (--sm) {
    height: 9rem;
    width: 9rem;
  }
  @media (--lg) {
    height: 10rem;
    width: 10rem;
  }

  @media (--xl) {
    height: 11rem;
    width: 11rem;
  }

  @media (--dark) {
    border: none;
    background-image: linear-gradient(to top right, #1a1a1a, #2d2d2d);
  }
}

.icon {
  color: var(--foreground);
}

.workplace {
  font-family: var(--font-heading);
}

.title {
  background-image: linear-gradient(
    to bottom right,
    var(--foreground) 50%,
    var(--background)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
