.container {
  overflow: hidden;
}

.track {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  @media (--md) {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  @media (--lg) {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

.item {
  flex: 0 0 auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-basis: 20%;

  @media (--md) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-basis: calc(100% / 6);
  }

  @media (--lg) {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    flex-basis: 13%;
  }

  @media (--xl) {
    flex-basis: 12%;
  }

  @media (--2xl) {
    flex-basis: 11%;
  }
}
