.root {
  background-color: var(--whitebg);
  border-radius: 0 0 40px 40px;

  @media (--dark) {
    background-color: #1a1a1a;
  }

  @media (--md) {
    border-radius: 0 0 50px 50px;
  }

  @media (--2xl) {
    border-radius: 0 0 70px 70px;
  }
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 83.333%;
  max-width: 1920px;
}

.tech-section {
  border-radius: 1rem;

  @media (--lg) {
    align-self: start;
    width: 100%;
  }

  @media (--xl) {
    width: 66.666%;
  }

  @media (--3xl) {
    width: 33.33%;
  }
}
