.footer {
  background-color: var(--whitebg);
  margin-top: 5rem;
  display: flex;
  height: 8rem;
  align-items: flex-end;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @media (min-width: 1024px) {
    height: 10rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media (min-width: 1536px) {
    height: 12rem;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

.container {
  font-family: var(--font-heading);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 91.666667%;
  max-width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1024px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.875rem;
  }

  @media (min-width: 1536px) {
    font-size: 2.25rem;
  }
}

.links {
  display: flex;
  gap: 1rem;

  @media (min-width: 768px) {
    gap: 2rem;
  }

  @media (min-width: 1024px) {
    gap: 2.5rem;
  }
}

.name {
  font-family: var(--font-heading);
}
