.footer {
  background-color: var(--whitebg);
  height: 8rem;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @media (--lg) {
    height: 10rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  @media (--2xl) {
    height: 12rem;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  @media (--dark) {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}

.container {
  font-family: var(--font-heading);
  width: 91.666667%;
  max-width: 1920px;
}
