@import "tailwindcss";

@source "src/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-whitebg: var(--whitebg);

  --font-heading: "Pilcrow", sans-serif;
  --font-body: "Switzer", sans-serif;

  --breakpoint-xs: 460px;
  --breakpoint-3xl: 1792px;
}

:root {
  --background: #edecec;
  --foreground: #161616;
  --whitebg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #edecec;
    --whitebg: #f5f5f5;
  }
}

@font-face {
  font-family: "Pilcrow";
  src: url("../fonts/PilcrowRounded-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pilcrow";
  src: url("../fonts/PilcrowRounded-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Pilcrow";
  src: url("../fonts/PilcrowRounded-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Pilcrow";
  src: url("../fonts/PilcrowRounded-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pilcrow";
  src: url("../fonts/PilcrowRounded-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 1 999;
  font-style: normal;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 1 999;
  font-style: italic;
}

body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* Exit animation */
.page-exit {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(2px);
}

/* Enter animation */
.page-enter {
  opacity: 0;
  transform: translateY(-40px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pilcrow", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

/* html {
  background-color: red !important;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: blue !important; 
  }
} */
