.root {
  background-color: var(--whitebg);
  width: 100vw;

  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
  }
}

.hero {
  background-color: var(--background);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 420px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

  @media (min-width: 640px) {
    height: 450px;
  }

  @media (min-width: 768px) {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  @media (min-width: 1024px) {
    height: 550px;
  }

  @media (min-width: 1280px) {
    height: 600px;

  }

  @media (min-width: 1536px) {
    height: 650px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }

  @media (min-width: 1792px) {
    height: 750px;
  }
}

.content {
  margin-inline: auto;
  max-width: 1920px;

  @media (min-width: 1280px) {
    display: grid;
    width: 83.333%;
    grid-template-columns: 1.5fr 1fr;
    gap: 3.5rem;
    padding-block: 10rem;
  }
}

/**
* 3D model styling on coelm page
*/

.model {
  margin-inline: auto;
  margin-top: 5rem;
  width: 75%;

  @media (min-width: 640px) {
    width: 83.333%;
  }

  @media (min-width: 768px) {
    margin-top: 7rem;
  }
}

.model-title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: 600;

  @media (min-width: 640px) {
    font-size: 1.875rem;
  }

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1024px) {
    text-align: start;
  }

  @media (min-width: 1280px) {
    font-size: 3rem;
  }
}

.scene {
  background-color: var(--whitebg);
  margin-top: 2.5rem;
  overflow: hidden;
  border-radius: 1rem;

  @media (prefers-color-scheme: dark) {
    background-color: #1a1a1a;
  }
}

/**
* All projects page styling
*/

.projects {
  padding-top: 5rem;

  @media (min-width: 768px) {
    margin-inline: auto;
    width: 83.333%;
  }

  @media (min-width: 1024px) {
    width: 91.667%;
  }
}

.projects-title {
  font-family: var(--font-heading);
  padding-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 1.875rem;
  }

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1024px) {
    padding-bottom: 5rem;
  }

  @media (min-width: 1280px) {
    padding-top: 5rem;
    font-size: 3rem;
  }
}

.projects-grid {
  display: grid;
  margin-inline: auto;
  max-width: 1920px;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    row-gap: 5rem;
  }

  @media (min-width: 1280px) {
    row-gap: 3.5rem;
  }

  @media (min-width: 1792px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
