.root {
  background-color: var(--whitebg);
  width: 100vw;

  @media (--dark) {
    background-color: #1a1a1a;
  }
}

.hero {
  background-color: var(--background);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 420px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;

  @media (--sm) {
    height: 450px;
  }

  @media (--md) {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  @media (--lg) {
    height: 550px;
  }

  @media (--xl) {
    height: 600px;
  }

  @media (--2xl) {
    height: 650px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
  }

  @media (--3xl) {
    height: 750px;
  }
}

.content {
  margin-inline: auto;
  max-width: 1920px;

  @media (--xl) {
    display: grid;
    width: 83.333%;
    grid-template-columns: 1.5fr 1fr;
    gap: 3.5rem;
    padding-block: 10rem;
  }
}

/**
* 3D model styling on coelm page
*/

.model {
  margin-inline: auto;
  margin-top: 5rem;
  width: 75%;

  @media (--sm) {
    width: 83.333%;
  }

  @media (--md) {
    margin-top: 7rem;
  }
}

.scene {
  background-color: var(--whitebg);
  margin-top: 2.5rem;
  overflow: hidden;
  border-radius: 1rem;

  @media (--dark) {
    background-color: #1a1a1a;
  }
}

/**
* All projects page styling
*/

.projects {
  padding-top: 6rem;

  @media (--md) {
    padding-top: 8rem;
    margin-inline: auto;
  }
}

.projects-title {
  text-align: center;
}

.projects-grid {
  margin-inline: auto;
  max-width: 1920px;

  @media (--3xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
