.root {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.title {
  text-align: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 91.666667%;
}

.grid {
  display: grid;
  gap: 2rem;

  @media (--md) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'project project project'
      '. . btn';
  }

  @media (--lg) {
    gap: 3rem;
  }

  @media (--3xl) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'project project project project'
      '. . . btn';

    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}

.more {
  justify-self: end;
  padding-right: calc((100% - 350px) / 2);

  @media (--md) {
    grid-area: btn;
    padding-right: calc((100% - 450px) / 2);
  }
}

.hide {
  display: none;

  @media (--3xl) {
    display: block;
  }
}

.button:hover .arrow {
  transform: translateX(3px);
}

.arrow {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
